$main-width: 1170px;

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 22px;
}

header {
  background: rgba(0, 0, 0, .4);
  color: #fff;
  padding-bottom: 80px;
  position: relative;

  ::before {
    background: #026;
    background-image: url('imgs/header.jpg');
    background-position: center center;
    background-size: cover;
    filter: contrast(80%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
  }

  section,
  article {
    margin: 0 auto;
    width: $main-width;
  }

  section {
    padding-top: 12px;

    h1 {
      display: inline-block;
      margin: 0;
    }

    nav {
      display: inline-block;
      margin-left: 200px;

      a {
        color: #e8eaf3;
      }
    }

    .buttons {
      display: block;
      float: right;

      button {
        background: transparent;
        border: 1px solid #8795b0;
        border-radius: .1em;
        color: #d8dfea;
        padding: 6px 20px;
      }
    }
  }

  article {
    margin-top: 80px;

    strong {
      display: block;
      font-size: 2.6rem;
    }

    small {
      font-size: .6em;
    }

    .text-bold {
      font-size: 1.2rem;

      em {
        font-style: normal;
        font-weight: 700;
      }
    }

    ul.highlight-text {
      background: #0062df;
      border-radius: .1em;
      display: inline-block;
      font-size: 1.2em;
      font-weight: 700;
      list-style-type: none;
      padding: 4px;
    }
  }
}

main {
  margin: 0 auto;
  width: $main-width;

  section:not(:last-child) {
    border-bottom: 1px solid grey;
  }
}

footer {
  background: lightslategrey;
  padding-top: 40px;

  section {
    margin: 0 auto;
    width: $main-width;
  }

  ul.donations {
    display: inline-block;
    list-style-type: none;

    li:not(:last-child) {
      margin-bottom: 30px;
    }

    img {
      vertical-align: middle;
    }
  }
}
